name: Assemble Assets and Publish Release
on: [push]
jobs:
  Assemble:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:24.10
    steps:
      - name: Install dependencies
        run: |
          apt update && apt install wget zip unzip python3 -y
        shell: bash
      - uses: actions/checkout@v2
      - name: Clone Repository and Run Scripts
        working-directory: ./
        run: |
          bash tools/compile-maps.sh --full
          cd tools/
          bash assemble-assets.sh
  Release:
    needs: [Assemble]
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    container:
      image: ubuntu:24.10
    steps:
      - name: Generate Build Date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d-%H-%M-%S')"
      - name: Delete Old Release
        uses: dev-drprasad/delete-tag-and-release@v0.2.1
        with:
          delete_release: true
          tag_name: newest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: newest
          release_name: Automated Release ${{ steps.date.outputs.date }}
          body: |
            These are the latest versions of NZ:P's game asset data. This does **not** include the game itself or the QuakeC. If you do not know what you are doing, you may want/need to be [here](https://github.com/nzp-team/nzportable) instead.

            <details>
              <summary>Changed files (ignore)</summary>

              ```
              ${{ steps.files.outputs.added_modified }}
              ```

            </details>

            To install:
            - Grab the `.ZIP` archive for your desired platform below (*-nzp-assets.zip)
            - Extract the contents of the `.ZIP` archive to the required locations.
              - NX: `/switch/`
              - PC: Anywhere, or where your `nzportable.exe` from an existing install is.
              - PSP: `/PSP/GAME/`
              - VITA: `/ux0:` (archive contains a `data` folder).
              - 3DS: `/3ds/`
          draft: true
          prerelease: false
      - name: Upload NX Data
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./tmp/nx-nzp-assets.zip
          asset_name: nx-nzp-assets.zip
          asset_content_type: application/zip
      - name: Upload PC Data
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./tmp/pc-nzp-assets.zip
          asset_name: pc-nzp-assets.zip
          asset_content_type: application/zip
      - name: Upload PSP Data
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./tmp/psp-nzp-assets.zip
          asset_name: psp-nzp-assets.zip
          asset_content_type: application/zip
      - name: Upload VITA Data
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./tmp/vita-nzp-assets.zip
          asset_name: vita-nzp-assets.zip
          asset_content_type: application/zip
      - name: Upload 3DS Data
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./tmp/3ds-nzp-assets.zip
          asset_name: 3ds-nzp-assets.zip
          asset_content_type: application/zip
      - name: Upload TNS Data
        uses: actions/upload-release-asset@v1
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./tmp/nspire-nzp-assets.zip
          asset_name: nspire-nzp-assets.zip
          asset_content_type: application/zip
      - name: Publish Release
        uses: StuYarrow/publish-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          id: ${{ steps.create_release.outputs.id }}