name: Verify Maps Compile
on: [pull_request]
jobs:
  Map-Assets-Exist:
    name: Verify Maps Compile
    runs-on: ubuntu-latest
    container:
      image: ubuntu:24.04
    steps:
      - name: Install dependencies
        run: apt update && apt install python3 python3-pip git wget zip unzip libicu-dev -y
        shell: bash
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up spawn-zone-tool
        working-directory: /
        run: |
          git clone --recursive https://github.com/nzp-team/spawn-zone-tool.git
          python3 -m pip install -r spawn-zone-tool/requirements.txt --break-system-packages
      - name: Wait for GitHub to keep up..
        run: sleep 2s
        shell: bash
      - name: Run Script
        run: |
          bash tools/compile-wads.sh
          bash tools/compile-maps.sh --zone-tool-path /spawn-zone-tool